<footer class="footer">
    <div class="section-content"> 
        <div class="footer__row">
            <div class="footer__social"> 
                <div class="logo">                   
                    <a href="/"><img src="{{absRefPrefix}}assets/images/logo.png" /></a>
                    <span>beta</span>
                </div> 
                <div class="social"> 
                    <a class="twitter" href="https://twitter.com/conscious"> 
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a> 
                    <a class="facebook" href="https://www.facebook.com/conscious/"> 
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a> 
                    <a class="youtube" href="https://www.linkedin.com/company/conscious"> 
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a> 
                </div> 
            </div> 
            <div class="footer__nav"> 
                <div class="row">                         
                    
                    <div class="col-sm-6 col-md-4 footer__nav-column"> 
                        <h6>Investor</h6> 
                        <ul> 
                            <li> 
                                <a target="_blank" href="/assets/pdfs/Conscious Pitchdeck.pdf">Pitch Deck </atarget="_blank"> 
                            </li>
                        </ul> 
                    </div> 
                    <div class="col-sm-6 col-md-4 footer__nav-column"> 
                        <h6>Legal</h6>                       
                        <ul> 
                            <li> 
                                <a href="/privacy">Privacy Policy </a> 
                            </li> 
                            <li> 
                                <a href="/terms">Terms Of Use </a> 
                            </li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>
    <div class="footer-copyright">
        <span>© Conscious - Transformational Technologies Inc. 2020</span>
    </div>
</footer>