<div class="navbar-container">
	<nav class="navbar navbar-inverse navbar-expand-lg">
		<a class="navbar-brand" href="../"><img src="{{absRefPrefix}}assets/images/logo.png" width="150" /></a>
		<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggle">
			<ul class="navbar-nav captial-letters ml-auto">
				<li class="nav-item">
					<a href="../" id="mission" class="nav-link">The mission</a>
				</li>
				<li class="nav-item">
					<a href="../" id="science" class="nav-link">Science</a>
				</li>
				<li class="nav-item">
					<a href="../privacy/" id="privacy" class="nav-link">privacy</a>
				</li>
				<li class="nav-item last">
					<a href="#" class="nav-link button purple">join the beta</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
