<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conscious</title>
    <script src="{{absRefPrefix}}js/main.dist.js" charset="utf-8"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{absRefPrefix}}assets/images/favicon.ico">
  </head>
<body class="privacy">
    <!--***** Start Wrapper *****-->
        <!--***** Main Menu End ********-->
        <!--******************* Header Section Start *********************-->
        <header class="small-pad-tb flowers ">
            <div class="clear"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="template-blog medium-pad-tb" >
                            <h2 class="white-text mar-comman-top-btm"><a class="back-arrow" href="/">&larr;</a>Privacy Notice </h2>
                            <p class="white-text big mar-comman-top-btm">We are collecting your email address and first name to provide you with updates on our awesome new app and may ask you to take part in surveys.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clear"></div>
        <!--******************* Header Section End *********************-->

        <!--******************* Middle Section Start ******************-->
        <div class="template-content medium-pad-tb" style="padding-bottom:5%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-9 col-lg-11">
                      <h4>Who are we?</h4>

<p class="big mar-comman-top-btm">We are Transformational Technologies Inc. </p>

<p class="big mar-comman-top-btm">Our app, Conscious, is designed to reduce stress, improve mental performance, and elevate human consciousness.</p>

<p class="big mar-comman-top-btm">Our address is 206-2455 West 2nd Ave, Vancouver, BC V6K 1J5, Canada. </p>
<p class="big mar-comman-top-btm">You can contact us by post at the above address or by email at  <a href="mailto:privacy@consciousos.com" target="_top">privacy@consciousos.com </a></p>

<h4> What personal data do we collect?</h4>

<p class="big mar-comman-top-btm">Right now we only ask for your email address and first name. </p>

<h4>Why do we collect this information?</h4>

<p class="big mar-comman-top-btm">We use this to keep you up to date on our progress and send you information we think you will enjoy, we occasionally may ask you to complete a survey to help with our research. </p>

<p class="big mar-comman-top-btm">We ask for your consent to do this, and we will only send you our newsletter for as long as you continue to consent. You can unsubscribe at any time using the link at the bottom of our emails.</p>

<h4>What do we do with your information?</h4>
<p class="big mar-comman-top-btm">Your information is stored in our mailing list database </p>

<h4>How long do we keep your information for?</h4>
<p class="big mar-comman-top-btm">Your information is kept for as long as you continue to consent to receive our newsletter.</p>

<h4>Your rights over your information</h4>

<p class="big mar-comman-top-btm">Right now we only hold your email address and first name but if you forget you can ask us what information we hold about you, and you can ask us to correct it if it has changed.
</p>
<p class="big mar-comman-top-btm">You can also ask for it to be erased and you can ask for us to give you a copy of the information.</p>
<p class="big mar-comman-top-btm">You can also ask us to stop using your information – the simplest way to do this is to withdraw your consent, which you can do at any time, either by clicking the unsubscribe link at the end of any newsletter, or by emailing, writing or telephoning us using the contact details above.</p>
<h4>Your right to complain</h4>
<p class="big mar-comman-top-btm">We hope you never do but If you have a complaint about our use of your information please contact us at <a href="mailto:privacy@consciousos.com" target="_top">privacy@consciousos.com</a> and we will do our best to help.</p>
<p class="big mar-comman-top-btm">You can also contact the <a href="https://www.dataprotection.ie/en/contact/how-contact-us " target="_blank">Data Protection Commissioner </a> directly but we hope it doesn’t come to that.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--******************* Middle Section End ******************-->


        <div class="clear"></div>
    {{> partials/footer }}
</body>
</html>
