$gutter: 2rem;

$main-font-family: "Manrope", Arial;

$color-white: #fff;
$color-light: #eee;
$color-background: #0b0815;
$color-dark: #33274A;
$color-cyan: #4ACCF4;
$color-dark-cyan: #30DFFF;
$color-ghost: #78D7FF;
$color-purple: #5025D4;
$color-dark-purple: #3F297D;
$color-violet: #4b4aac;
$color-gray: #aaa;
$color-light-gray: #F2F0F9;
$color-yellow: #FFBF00;
$color-orange: #FF7337;
$color-blue: #106898;
$color-green: green;
$color-light-green: #2DDF3F;

$container-height: 500px;
$container-padding-top: 75px;

$xs: 30rem;
$sm: 48rem;
$md: 64rem;
$lg: 80rem;
$xl: 90rem;



